[submodule "extern/fevm-uniswap-v3-core"]
  path = extern/fevm-uniswap-v3-core
  url = https://github.com/snissn/fevm-uniswap-v3-core
[submodule "extern/openzeppelin-contracts"]
  path = extern/openzeppelin-contracts
  url = https://github.com/snissn/openzeppelin-contracts
